body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
    line-height: 1.5;
}
ul, ol {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: inherit;
}
.navigation-list {
    font-weight: 700;
}
.navigation-list-item:hover {
    color: #404bbf;
}
.navigation-list-item:active {
    color: #404bbf;
    text-decoration: underline;
}
.contacts-list-item a:hover {
    color: #404bbf;
}

.hero {
    background-color: #2E2F42;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
}
.hero-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
}

.hero-button:active {
    background-color: #404BBF;
}

.features {
   background-color: #FFFFFF;
}

.visually-hidden {
    overflow: hidden;
}

.features-subtitle {
    font-size: 20px;
    font-weight: 500;
}
.features-text {
    font-size: 16px;
}

.team {
    background-color: #F4F4FD;
}

.team-list {
    text-align: center;
    background-color: #FFFFFF;
}

footer {
    background-color: #2E2F42;
    color: #FFFFFF;
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.logo span {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}