body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #2E2F42;
    background-color: #E7E9FC;
}
ul, ol {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: inherit;
    line-height: 1.5;
}
.navigation-list {
    font-weight: 700;
}

footer {
    background-color: #2E2F42;
    color: #FFFFFF;
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
}

.logo span {
    color: #4D5AE5;
}

.hero {
    background-color: #2E2F42;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
}
.hero button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}